/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Share Tech Mono', monospace;
}

body{
    background:#050505;
    color:#00ff66;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    overflow:hidden;
}

/* Background Grid */
body::before{
    content:"";
    position:fixed;
    width:100%;
    height:100%;
    background:
        linear-gradient(rgba(0,255,100,.08) 1px, transparent 1px),
        linear-gradient(90deg, rgba(0,255,100,.08) 1px, transparent 1px);
    background-size:40px 40px;
    z-index:-1;
}

.container{
    width:650px;
    background:#0a0a0a;
    border:2px solid #00ff66;
    border-radius:12px;
    padding:40px;
    box-shadow:
        0 0 20px #00ff66,
        inset 0 0 15px rgba(0,255,100,.2);
}

h1{
    font-size:48px;
    color:#00ff66;
    text-align:center;
    margin-bottom:30px;
    text-shadow:0 0 15px #00ff66;
}

button{
    width:100%;
    padding:15px;
    margin-top:15px;
    background:#000;
    color:#00ff66;
    border:2px solid #00ff66;
    font-size:20px;
    cursor:pointer;
    transition:.3s;
    text-transform:uppercase;
}

button:hover{
    background:#00ff66;
    color:#000;
    box-shadow:0 0 20px #00ff66;
}

input{
    width:100%;
    padding:15px;
    margin-top:15px;
    background:#000;
    color:#00ff66;
    border:2px solid #00ff66;
    outline:none;
    font-size:18px;
}

input::placeholder{
    color:#008844;
}

input:focus{
    box-shadow:0 0 20px #00ff66;
}

hr{
    margin:30px 0;
    border:1px solid #00ff66;
}

#roomID{
    margin-top:20px;
    font-size:22px;
    color:#00ff66;
    text-align:center;
    text-shadow:0 0 10px #00ff66;
}

#messages{
    height:350px;
    overflow-y:auto;
    background:#000;
    border:2px solid #00ff66;
    padding:15px;
    margin-bottom:15px;
    box-shadow:inset 0 0 15px rgba(0,255,100,.2);
}

.message{
    padding:10px;
    margin:8px 0;
    border-left:4px solid #00ff66;
    background:#111;
    color:#00ff66;
    word-wrap:break-word;
}

.system{
    color:#00ffcc;
    text-align:center;
    margin:10px 0;
}

#messageInput{
    margin-top:10px;
}

/* Custom Scrollbar */
::-webkit-scrollbar{
    width:8px;
}

::-webkit-scrollbar-track{
    background:#111;
}

::-webkit-scrollbar-thumb{
    background:#00ff66;
}

::-webkit-scrollbar-thumb:hover{
    background:#00ffaa;
}
